[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/stepdc/prezto.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/stepdc/emacs.d.git
